#nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
    background-color: white;

    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 100%;

    box-shadow: 2px 2px 8px .4px black;
}
#nav-div>a{
    text-decoration: none;
    list-style: none;
    font-size: 22px;
}
#logo{
    width: 100px;
    height: auto;
}
#product-section{
    height: 100vh;
    margin-top: 80px;
    background:linear-gradient(90deg, #ebebeb 50%, #ccc6c6 100%);
}
#product-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
    padding-top: 20px;
    
}
.current-product-img{
width: auto;
height: 80vh;
}
.product-details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#product-description{
    font-size: 22px;
    padding: 20px;

}
.product-detail-description>ul{
    font-size: 24px;
    list-style: none;
}
.product-detail-description>ul>li>span{
    color: #dc876b;
    font-style: bold;
}
.product-detail-description>button{
    width: 700px;
    height: 50px;
    font-size: 37px;
    margin-left: 50px;
    border-radius: 15px;
    border-width: 0px;
    background-color: #dc876b;
    color: white;
    /* box-shadow: 1px 1px 6px 2px black; */
}
.product-detail-description>h2{
    padding: 20px;
    font-size: 30px;
}
.product-detail-description>h2>span{
    color: green;
}
.suggested-products>img{
    width: 300px;
    height: auto;
}
.suggested-products{
    background-color: #ebebeb;
    box-shadow: 2px 2px 4px .3px black;
    padding: 15px;
    border-radius: 15px;
}
#suggested-products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.suggested-products>button{
    width: 290px;
    height: 30px;
    margin-bottom: 20px;   
}
#footer{
    background-color: #ebebeb;
    margin-top: 25px;
    margin-bottom: -10px;
    padding: 20px;
    width: 97%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  #footer-content{
    font-size: 19px;
    text-align: center;
    color: black;
  }
  #footer-links{
    display: flex;
    justify-content: space-around;
  }
  #footer-img{
    max-width: 30px;
  }
  a{
    text-decoration: none;
  }

  /* media queries */

  @media(max-width:1125px){
      #logo{
          width: 50px;
          height: auto;
      }
      #product-section{
          width: 100%;
          height: auto;
          background: #ebebeb;
      }
      #nav-div>a{
          font-size: 12px;
      }
      
      .product-details{
          flex-direction: column;
      }
      .product-detail-description>button{
          width: 78%;
          height: auto;
          font-size: 30px;
      }
      #product-header{
          font-size: 30px;
      }
      #suggested-products{

          flex-direction: column;
          align-items: center;
      }
      .suggested-products{
          width: 80%;
          margin-bottom: 30px;
      }

  }
  /*hovers*/
  #nav-div>a:hover{
    color:#dc876b
  }
  .suggested-products:hover{
    box-shadow: 2px 2px 4px .3px #dc876b;
  }
  